
@{
    ViewData["Title"] = "All Company";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">All Companies</h2>
		</div>
       
	</div>
    <br /><br />
    
<table  id="tblData"  class="display" style="width:100%">
    <thead>
        <tr>
            
            <th style="text-align:center">Company Name</th>
          
            <th style="text-align:center">Company Email</th>
            <th style="text-align:center">Company Website</th>
            <th style="text-align:center">TypeOfCompany</th>
            <th style="text-align:center">Total Job Posts</th>
            <th style="text-align:center">Jointed At</th>

            <th style="text-align:center">Actions</th>
		</tr>
	</thead>
</table>
</div>

@section Scripts{
    <script>
    var dataTable;

$(document).ready(function () {
    loadDataTable();
});


function loadDataTable() {
   
    dataTable = $('#tblData').DataTable({
        "ajax": {
            "url":"/Admin/GetAllCompany"
        },
        "columns": [
            { "data": "user.company.compName", "width": "15%" },
            { "data": "user.company.compEmail", "width": "15%" },
            { "data": "user.company.compWebsite", "width": "15%" },
            { "data": "user.company.typeOfCompany", "width": "15%" },
            { "data": "totalPosts", "width": "15%" },
            { "data": "user.company.createdDate", "width": "15%" },
            { "data": {id:"user.id", lockoutEnd: "user.lockoutEnd"},
              "render":function(data){
                    
                  var today = new Date().getTime();
                  
                  var lockout = new Date(data.user.lockoutEnd).getTime();
                 
                  if (lockout < today) {
                        
                      return `
                            <div class="text-center">
                                <a onclick=LockUnlock('${data.user.id}') class="btn btn-success text-white" style="cursor:pointer; width:100px;">
                                    <i class="fa fa-lock"></i>  Block
                                </a>
                            </div>
                           `;  
                      
                      
                    }
                    else {
                        return `
                            <div class="text-center">
                                <a onclick=LockUnlock('${data.user.id}') class="btn btn-danger text-white" style="cursor:pointer; width:100px;">
                                    <i class="fa fa-unlock-alt"></i>  UnBlock
                                </a>
                            </div>
                           `;
                        
                    }
              }
                ,
                "width": "15%"
            }
        ],
         dom: 'Bfrtip',
        buttons: [
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [ 0, 1,2,3,4,5,6 ]
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: [ 0, 1,2,3,4,5,6]
                }
            },
            {
                extend: 'csvHtml5',
                exportOptions: {
                    columns: [ 0, 1,2,3,4,5,6]
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: [  0, 1,2,3,4,5,6 ]
                }
            },
            {
                extend: 'print',
                exportOptions:{
                    columns: [0,1,2,3,4,5,6]
                }
            },
            
            'colvis'
        ],
        //columnDefs: [ {
        //    targets: 7,
        //    visible: false
        //} ]
    });
}

function LockUnlock(id) {
    
            $.ajax({
                type: "POST",
                url: '/Admin/LockUnlockCompany',
                data: JSON.stringify(id),
                contentType: "application/json",
                success: function (data) {
                    if (data.success) {
                        toastr.success(data.message);
                        $('#tblData').DataTable().ajax.reload()
                      //  dataTable.ajax.reload();
                    }
                    else {
                        toastr.error(data.message);
                    }
                }
            });
      
}
</script>
}
@*
//{ "data": "user.imageUrl",
            //  "render": function(data){
            //      if(data !=null && data != ""){
            //      return `<img class="avatar avatar-sm rounded-circle me-2"
            //      src="~${data} />"`;
            //      }
            //      else{
            //          return `<img class="avatar avatar-sm rounded-circle me-2"
            //          src="https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?k=20&m=1300845620&s=612x612&w=0&h=f4XTZDAv7NPuZbG0habSpU0sNgECM0X7nbKzTUta3n8=" />`;
            //      }

            //  },
            //"width": "15%" },*@

            @*<th>Candidate Image</th>*@