@model SearchIt.Models.Postings

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Postings</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        
        <form asp-action="Edit" class="row ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group col-6">
                <label asp-for="PostName" class="control-label"></label>
                <input asp-for="PostName" class="form-control" />
                <span asp-validation-for="PostName" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class ="form-control" asp-items="ViewBag.CompanyId" disabled></select>
            </div>
            <div class="form-group col-12">
                <label asp-for="PostDescription" class="control-label"></label>
                <textarea asp-for="PostDescription" class="form-control" ></textarea>
                <span asp-validation-for="PostDescription" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="MinExp" class="control-label"></label>
                <input asp-for="MinExp" class="form-control" />
                <span asp-validation-for="MinExp" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="TotalVacancies" class="control-label"></label>
                <input asp-for="TotalVacancies" class="form-control" />
                <span asp-validation-for="TotalVacancies" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="PostMinSal" class="control-label"></label>
                <input asp-for="PostMinSal" class="form-control" />
                <span asp-validation-for="PostMinSal" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="PostMaxSal" class="control-label"></label>
                <input asp-for="PostMaxSal" class="form-control" />
                <span asp-validation-for="PostMaxSal" class="text-danger"></span>
            </div>
           
            
            
            <div class="form-group col-6">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="TypeOfJob" class="control-label"></label>
                <input asp-for="TypeOfJob" class="form-control" />
                <span asp-validation-for="TypeOfJob" class="text-danger"></span>
            </div>
           
            <div class="form-group p-2">
                <input type="submit" value="Update" class="btn btn-success" />
                <a asp-action="AllPosts" class="btn btn-info" >Back To All Posts</a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.Id">Delete</a>
            </div>
        </form>
        
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
